


<h1 style="text-align: center;"><strong><span style="color: #5c7ddc;">Users</span></strong></h1>
<p style="text-align: center;">&nbsp;</p>



  


<div class="card">
  <div class="card-body table-responsive">
    <div *ngIf="!users.length">
      <h2 class="text-center">No data found</h2>
    </div>
    <table class="table" *ngIf="users.length">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Username</th>
          <th>Name</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id_user}}</th>
          <td>{{user.email_user}}</td>
          <td>{{user.username_user}}</td>
          <td>{{user.firstname_user}}&nbsp;{{user.lastname_user}}</td>
          <td>{{user.status_user}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">                
              <a [routerLink]="['/users/edit', user.id_user]" style="color: white" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>