

<h1 style="text-align: center;"><strong><span style="color: #5c7ddc;">Welcome to PSCORE 's admin dashboard</span></strong></h1>
<p style="text-align: center;">&nbsp;</p>


<p style="text-align: center;">&nbsp;<img src="assets/images/PSCORE_logo_new.png" alt="" /></p>



<h2 style="text-align: center;"><strong><span style="color: #fab125;">People for Successful COrean REunification</span></strong></h2>
<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">We are an organization in special consultative status with the UN Economic and Social Council since 2012. We advocate internationally and domestically with a vision to raise awareness about North Korean human rights while providing education and tutoring programs.</p>
<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>
