<app-page-header [heading]="id ? 'Edit Testimony' : 'New Testimony'" [icon]=""></app-page-header>
<form action="" [formGroup]="testimonyForm">
  <div class="form-group">
      <label for="">Subject</label>
      <input type="text" name="subject" id="subject" class="form-control" formControlName="subject">

      <label for="">Author</label>
      <input type="text" name="subject" id="subject" class="form-control" formControlName="author" readonly>

      <label for="">Body</label>
      <textarea name="body" id="body" cols="30" rows="10" class="form-control" formControlName="body"></textarea>
      
      <div class="btn-group mt-3 pull-right">
        <button class="btn btn-primary" [disabled]="isSubmitted" (click)="submit()">
          Save Changes
        </button>
        <a [routerLink]="['/testimonies']" class="btn btn-default">
          Cancel &amp; Return
        </a>
      </div>
  </div>

</form>